.hardware-section {
  margin-top: 100px;
  background-color: #ecf1f1;
}

.hardware-container {
  max-width: 1368px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 50px;
  margin: auto;
  gap: 30px;
}

/* ----------------------------- */

.table-of-content {
  background-color: #ffffff;
  flex: 1;
  display: flex;
  flex-direction: column;
  top: 100px;
  left: 0;
}

/* ----------------------------- */
.page-content {
  flex: 2;
  background-color: rgb(255, 255, 255);
  padding: 30px 35px;
  /* box-sizing: border-box; */
}

.title {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 36px;
}
.text {
  text-align: justify;
}

hr {
  margin: 30px 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #dae3e3;
  padding: 0;
}
.hardware-container .page-content a img {
  width: 100%;
}

.content-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-section .title {
  font-weight: 400;
  color: #434f54;
  text-transform: capitalize;
}

.content-section .subtitle {
  text-transform: capitalize;
  margin-bottom: 20px;
  font-style: 16px;
}

table {
  border: 1px solid #bdc7c7;
  border-width: 1px 0 0 1px;
  display: flex;
  flex-direction: column;
}

table tr {
  display: flex;
  flex-direction: row;
}

table th,
table td {
  border: 1px solid #bdc7c7;
  border-width: 0 1px 1px 0;
  padding: 8px 12px;
  width: 100%;
}

table th img {
  max-width: 100%;
}

table td {
  background: #f7f9f9;
  text-transform: capitalize;
}

.last-version {
  background: #f7f9f9;
  padding: 16px 20px;
  margin-top: 20px;
}

@media screen and (max-width: 1020px) {
  .hardware-section {
    background-color: white;
    margin-top: 170px;
  }
  .hardware-container {
    padding: 0;
    flex-direction: column;
    gap: 0;
  }

  .page-content {
    padding: 15px;
  }
}
