.home-section {
  margin-top: 100px;
}

.home-container {
  max-width: 1368px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
  box-sizing: border-box;
  margin: auto;
}

/* --------------------------------------- */

.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.what-arduino {
  width: 100%;
  color: #008184;
  background-color: #ecf1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 25px;
}

.what-arduino:hover {
  color: white;
  background-color: #7fcbcd;
}

.what-arduino .title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 2px;
}

.what-arduino img {
  width: 220px;
}
/* ---------- */
.action-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cta-button::before {
  content: "";
  background-color: inherit;
  filter: brightness(0.8);
  position: absolute;
  right: 0;
  height: 100%;
  width: 0;
  z-index: 0;
  transition: all 0.2s ease-in-out;
}
.cta-button:hover::before {
  width: 60px;
}
.cta-button {
  width: 100%;
  height: 45px;
  background-color: red;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.cta-button .text {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 20px;
}

.cta-button .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  z-index: 2;
}

.banners {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: red; */
  gap: 15px;
}

.banners a {
  background-repeat: no-repeat;
  background-color: #ecf1f1;
  width: 100%;
  min-height: 300px;
  background-size: cover;
  background-position-x: center;
}

.banners a:hover .title {
  color: white;
}

.banners a .title {
  font-size: 16px;
  color: #008184;
  text-align: center;
}

.banners .cloud {
  background-image: url(../../public/img/Home/cloud_banner.svg);
  padding-top: 55%;
}

.banners a.cloud:hover {
  background-image: url(../../public/img/Home/cloud_banner_hovered.svg);
}

.banners .education {
  background-image: url(../../public/img/Home/education_banner.svg);
  padding-top: 35%;
}
.banners a.education:hover {
  background-image: url(../../public/img/Home/education_banner_hovered.svg);
}
/* -------------------------- */

.main-content {
  flex: 2;
  width: fit-content;
  display: grid;
  justify-content: flex-end;
  grid-template-columns: auto auto;
  row-gap: 30px;
  column-gap: 30px;
}

.banner {
  width: 340px;
  height: 410px;
}
.banner:hover {
  filter: brightness(0.9);
}

.banner img {
  width: 100%;
  height: 100%;
}

.post {
  width: 340px;
  height: 410px;
  color: #00979d;
  background-color: #ecf1f1;
  position: relative;
  transition: all 0.3s;
}

.post:hover {
  color: white;
  background-color: #7fcbcd;
  filter: brightness(0.9);
}

.post img {
  width: 100%;
  height: 255px;
}

.post .description {
  font-size: 22px;
  letter-spacing: 2px;
  padding: 20px;
}

.post .blog {
  background-color: #00979d;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 3px;
  padding: 10px 15px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
