.home-section {
  margin-top: 100px;
}

.home-container {
  max-width: 1368px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 50px;
  box-sizing: border-box;
  margin: auto;
}

/* --------------------------------------- */

.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.what-arduino {
  width: 100%;
  color: #008184;
  background-color: #ecf1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 25px;
}

.what-arduino:hover {
  color: white;
  background-color: #7fcbcd;
}

.what-arduino .title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 2px;
}

.what-arduino img {
  width: 220px;
}
/* ---------- */
.action-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cta-button::before {
  content: "";
  background-color: inherit;
  filter: brightness(0.8);
  position: absolute;
  right: 0;
  height: 100%;
  width: 0;
  z-index: 0;
  transition: all 0.2s ease-in-out;
}
.cta-button:hover::before {
  width: 60px;
}
.cta-button {
  width: 100%;
  height: 45px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.cta-button .title,
.cta-button .text {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 20px;
}

.cta-button .title {
  display: none;
}
.cta-button .text {
  display: block;
}

.cta-button .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  z-index: 2;
}

.banners {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.banners a {
  background-repeat: no-repeat;
  background-color: #ecf1f1;
  width: 100%;
  min-height: 300px;
  background-size: cover;
  background-position-x: center;
}

.banners a:hover .title {
  color: white;
}

.banners a .title {
  font-size: 16px;
  color: #008184;
  text-align: center;
}

.banners .cloud {
  transition: background-image 0.15s;
  background-image: url(../../public/img/Home/cloud_banner.svg);
  padding-top: 55%;
}

.banners a.cloud:hover {
  background-image: url(../../public/img/Home/cloud_banner_hovered.svg);
}

.banners .education {
  background-image: url(../../public/img/Home/education_banner.svg);
  padding-top: 35%;
}
.banners a.education:hover {
  background-image: url(../../public/img/Home/education_banner_hovered.svg);
}

/* -------------------------------------- */
.tail-block {
  padding-right: 40px;
  width: 100%;
  margin-top: 16px;
}

.tail-block-title h1 {
  font-size: 22px;
  background-color: #00979d;
  box-shadow: 10px 0 0 #00979d, -10px 0 0 #00979d;
  color: #fff;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 0 3px 10px;
}

.tail-block-text {
  margin-top: 8px;
  line-height: 1.6;
}

.tail-block-text a {
  color: #008184;
  font-weight: 400;
  margin-inline: 5px;
}
/* -------------------------------------- */

.social-media-contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 16px;
}
.contact {
  display: flex;
  gap: 10px;
  align-items: center;
  transition: 0.5s;
  color: #00979d;
}
.contact:hover {
  transform: translateX(10px);
}
.contact .icon {
  height: 28px;
  width: 28px;
  border-radius: 50%;
}

/* -------------------------- */

.main-content {
  flex: 2;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
}

.banner,
.post {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  flex: 0 1 45%;
  margin: 10px;
}
.banner:hover {
  filter: brightness(0.9);
}

.banner img {
  width: 100%;
  height: 100%;
}

.post {
  color: #00979d;
  position: relative;
  transition: all 0.3s;
  font-size: 18px;
}

.post:hover  {
  color: white;
  filter: brightness(0.9);
}
.post:hover .description {
  background-color: #7fcbcd;
}

.post img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.post .description {
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 1.6;
  padding: 20px;
  background-color: #ecf1f1;
}

.post .blog {
  background-color: #00979d;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 3px;
  padding: 10px 15px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

@media screen and (max-width: 1020px) {
  .home-container {
    flex-direction: column;
    gap: 20px;
    padding: 50px 20px;
  }

  .home-container {
    max-width: 788px;
  }
  .what-arduino {
    flex-direction: row-reverse;
  }
  .what-arduino img {
    max-width: 150px;
  }
  .cta-button::before {
    display: none;
  }
  .action-buttons {
    flex-direction: row;
    gap: 0;
  }
  .cta-button {
    padding: 0 10px;
  }
  .cta-button .title {
    display: flex;
    font-size: 16px;
    padding-left: 0;
  }
  .cta-button .text {
    display: none;
  }
  .cta-button .icon {
    width: 40px;
  }

  .banners {
    display: none;
  }
  .tail-block {
    display: none;
  }
  .social-media-contacts {
    display: none;
  }

  .main-content {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
.banner, .post{
  flex-basis: 100%;
}
}