.software-section {
  margin-top: 100px;
  padding: 0 180px;
}

.software-container {
  max-width: 1368px;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  margin: auto;
}

.software-title {
  font-weight: 400;
  font-size: 34px;
  margin-block: 24px;
}

@media screen and (max-width: 1030px) {
  .software-section {
    padding: 0 50px;
  }
  .software-container {
    max-width: 932px;
  }
}
@media screen and (max-width: 960px) {
  .software-section {
    padding: 0 10px;
  }

  .software-container {
    max-width: 872px;
  }
}

@media screen and (max-width: 800px) {
  .software-section {
    padding: 10px 5px;
  }

  .software-container {
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
}
