.navbar-section {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00979d;
  position: fixed;
  top: 0;
}

.navbar-container {
  max-width: 1368px;
  min-width: 1280px;
  display: flex;
  flex-direction: column;
}

.first-level {
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #7fcbcd;
}

.first-level-left,
.first-level-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 10.5px;
  font-weight: 700;
  color: white;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 0 15px;
}
.link svg {
  transform: rotate(0deg);
  margin-left: 5px;
  transition: all 0.2s linear;
}

.link:hover svg {
  transform: rotate(-180deg);
}

.link:hover {
  background-color: #005c5f;
}

.first-level-left .link {
  border-right: 1px solid #7fcbcd;
}
.first-level-right .link {
  border-left: 1px solid #7fcbcd;
}

.first-level-right .search {
  background-color: #005c5f7e;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 50px;
  margin-right: 15px;
}

.first-level-right .search svg {
  color: white;
}

.first-level-right .search input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  width: 200px;
}

.first-level-right .search input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.first-level-right .search:hover {
  outline: 1px solid white;
}

/* ------------------------- */
.second-level {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#logo {
  height: 25px;
  position: absolute;
  left: 10px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dropDown {
  background-color: #005c5f;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 55px;
  transition: all 0.2s linear;
}

.dropDown .item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-weight: 500;
  letter-spacing: 1.5px;
  padding: 12px 17.5px;
  color: white;
  text-transform: uppercase;
  border-top: 1px solid #7fcbcd;
}

.dropDown .item:hover {
  background-color: #00979d;
}

.link:hover .dropDown {
  display: flex;
}
