.mini-navbar-section,
.mini-navbar-section-collapsed,
.extra-navbar-section,
.extra-navbar-section-collapsed {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #00979d;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: transform 0.35s linear;
}
.mini-navbar-section,
.extra-navbar-section {
  min-height: 100px;
  transform: translateY(0);
}

.mini-navbar-section-collapsed,
.extra-navbar-section-collapsed {
  min-height: 55px;
  transform: translateY(-46px);
}

.mini-navbar-section,
.mini-navbar-section-collapsed {
  display: none;
}
.extra-navbar-section,
.extra-navbar-section-collapsed {
  display: flex;
}

/* ------------------/ */

.first-level {
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #7fcbcd;
  padding-right: 10px;
}

.first-level-left,
.first-level-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 10.5px;
  font-weight: 700;
  color: white;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 0 15px;
}

.link:hover {
  background-color: #005c5f;
  white-space: nowrap;
}

.first-level-left .link {
  border-right: 1px solid #7fcbcd;
}
.first-level-right .link {
  border-left: 1px solid #7fcbcd;
}

.first-level-right .search {
  background-color: #005c5f7e;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 50px;
  margin-right: 15px;
}

.search svg {
  color: white;
}

.search input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  width: 200px;
}

.search input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.search:hover {
  outline: 1px solid white;
}

.search:focus-within {
  outline: 2px solid white;
}

/* ------------------------- */

.second-level {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #7fcbcd;
}

#logo {
  height: 25px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 55px;
  visibility: visible;
}
.links .navbar-elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.links .link {
  height: 55px;
  position: relative;
}

.second-level .link svg {
  transform: rotate(0deg);
  margin-left: 5px;
  transition: all 0.2s linear;
}

.second-level .link:hover svg {
  transform: rotate(-180deg);
}

.dropDown {
  background-color: #005c5f;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 55px;
  transition: all 0.2s linear;
}

.dropDown .item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-weight: 500;
  letter-spacing: 1.5px;
  padding: 12px 17.5px;
  color: white;
  text-transform: uppercase;
  border-top: 1px solid #7fcbcd;
}

.dropDown .item:hover {
  background-color: #00979d;
}

.link:hover .dropDown {
  display: flex;
}

.menu-icon {
  visibility: hidden;
  margin-right: 20px;
  color: white;
}

@media screen and (max-width: 1020px) {
  .mini-navbar-section,
  .mini-navbar-section-collapsed {
    display: flex;
  }
  .extra-navbar-section,
  .extra-navbar-section-collapsed {
    display: none;
  }

  /* ------------------/ */

  .links.mini-navbar-links {
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    background-color: #00979d;
    position: absolute;
    top: 100px;
    right: 0;
    visibility: hidden;
    justify-content: space-between;
  z-index: 1000;

  }
  .mini-navbar-section .links.mini-navbar-links {
    min-height: calc(100vh - 100px);
  }
  .mini-navbar-section-collapsed .links.mini-navbar-links {
    min-height: calc(100vh - 55px);
  }
  .links .navbar-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .links.mini-navbar-links .link {
    min-height: 40px;
    font-size: 16px;
    padding: 15px 0;
    height: auto;
  }
  .links .link.signIn {
    background-color: #005c5f;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    text-transform: capitalize;
  }
  .link:hover {
    background-color: transparent;
    color: #c1d602;
  }
  .dropDown {
    background-color: transparent;
    position: relative;
    top: 0;
  }
  .dropDown .item {
    border: none;
    justify-content: center;
    height: 15px;
    font-size: 12px;
  }
  .dropDown .item:hover {
    color: #c1d602;
  }
  .menu-icon {
    visibility: visible;
    cursor: pointer;
  }
  .menu-icon:hover {
    color: #c1d602;
  }
}

@media screen and (max-width: 480px) {
  .first-level-right .search {
    display: none;
  }
}
